.container{
    margin: 0 auto;
    max-width: 1441px;
    height: 655px;
    left: 0px;
    top: 89px;
    background: linear-gradient(204.44deg, #BD7AE3 0%, #8461C9 100%);
}

.form {
    margin: 0 auto;
}

.input {
    position: absolute;
    background-color: white;
    border-radius: 6px;
    border: none;
    width: 240px;
    height: 48px;
}

.emailField {
    left: 600px;
    top: 281px;
}

.passField {
    left: 600px;
    top: 369px;
}

.signIn {
    color: #FCFCFC;
    position: absolute;
width: 66px;
height: 26px;
left: 590px;
top: 200px;
font-size: 22px;
line-height: 26px;
width: 80px;
}

.emailText {
    color: #FCFCFC;
    position: absolute;
width: 58px;
height: 20px;
left: 590px;
top: 261px;
}

.passText{
    color: #FCFCFC;
    position: absolute;
width: 104px;
height: 20px;
left: 580px;
top: 349px
}

button {
    position: absolute;
width: 150px;
height: 40px;
left: 690px;
top: 457px;
background-color:rgba(104, 18, 189, 1);
border: none;
border-radius: 4px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

color: white;
font-size: 18px;
}

.signUpButton {
    left: 833px;
top: 505px;
}

.firstNameField {
    top: 311px;
    left: 457px;
}

.firstNameText {
    left: 457px;
    top: 291px;
}

.lastNameField {
    left: 743px;
    top: 311px;
}

.lastNameText {
    left: 743px;
    top: 291px;
}

.signUpEmailField {
    left: 457px;
    top: 408px; 
}

.signUpEmailText {
    left: 457px;
    top: 388px;
}

.signUpPassField {
    left: 743px;
    top: 408px;
}

.signupPassText {
    left: 743px;
    top: 388px;
}

.msg {
    position: absolute;
width: 700px;
height: 58px;
left: 370px;
top: 120px;
font-size: 24px;
line-height: 29px;

color: #FFFFFF;
}

.title {
    position: absolute;
width: 247px;
height: 42px;
left: 596px;
top: 200px;
font-size: 36px;
line-height: 42px;

color: white;
}